*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

.orderOnline{
    margin-left:200px;
}
.orderfoodtxt{
  font-family: "Raleway", sans-serif;
  font-size:33px;
}


.orderitems{
margin:50px 0 0 0;
/* display: grid;
grid-template-columns:repeat(3,1fr);
gap:0; */

/* taken from chat gtp */
position: absolute;
display: grid;
grid-template-columns:repeat(3,auto);
row-gap:20px;
column-gap: 16px;

}


.orderitem1{
  
    height:322px;
    width:348px;
    position: relative;
}

.orderitem1:hover{
    background-color:whitesmoke;
    border-radius:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderitem2{
  
    height:322px;
    width:348px;
    position: relative;
}


.orderitem2:hover{
    background-color:whitesmoke;
    border-radius:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderitem3{
  
    height:322px;
    width:348px;
    position: relative;
}


.orderitem3:hover{
    background-color:whitesmoke;
    border-radius:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderitem4{
  
    height:322px;
    width:348px;
    position: relative;
}


.orderitem4:hover{
    background-color:whitesmoke;
    border-radius:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderitem5{
  
    height:322px;
    width:348px;
    position: relative;
}


.orderitem5:hover{
    background-color:whitesmoke;
    border-radius:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderitem6{
  
    height:322px;
    width:348px;
    position: relative;
}


.orderitem6:hover{
    background-color:whitesmoke;
    border-radius:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orderitem7{
  
    height:322px;
    width:348px;
    position: relative;
} 


.orderitem7:hover{
    background-color:whitesmoke;
    border-radius:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





.foodimg{
 height:228px;
 width: 328px;  
 object-fit: cover; 
 margin:12px 0 0 10px;
 border-radius:12px;
 position:absolute;
}

.discount{
    position: absolute;
    color: white;
    background-color: rgb(37, 37, 223); 
    margin:180px 0 0 10px;
    width:100px;
   
}

.brandname{
    position:absolute;
  margin:250px 0 0 15px;
  font-family: "Raleway", sans-serif; 
}

.rating{
position: absolute;
margin:250px 0 0 296px;
background-color: rgb(52, 200, 52);
font-family: "Raleway"; 
font-weight: bold;
color: white;
width:35px;
text-align: center;
border-radius:4px;
padding: 1px;
}

.discription{
    position:absolute;
    margin:280px 0 0 15px;
    font-family: "Raleway", sans-serif; 
    font-size:17px;
    color:rgba(0, 0, 0, 0.419);
}

.price{
    position:absolute;
    margin:280px 0 0 290px;
    font-family: "Raleway", sans-serif; 
    font-size:17px;
    color:rgba(0, 0, 0, 0.419);  
}


.arivaltime{
    position:absolute;
    margin:300px 0 0 290px;
    font-family: "Raleway", sans-serif; 
    font-size:13px;
    color:rgba(0, 0, 0, 0.419); 
}